body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: auto;
}

p {
    opacity: 0.5;
    font-size: 1rem;
}


/* Navigation Bar */

.navbar {
    padding-bottom: 4rem;
}

.navbar > .container-fluid {
    padding: 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}



/* Title */

#title {
    background-color: #ff4c68;
    height: 80vh;
}



#title > .container-fluid {
    padding: 3% 15%;
    height: 80vh;
    overflow: hidden;
}

/* Title Image */
.title-image {
    width: 60%;
    height: 450px;
    transform: rotate(25deg);
    overflow: auto;
    position: relative;
    left: 20%;
}




/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
    font-size: 1rem;
}





/* Features */

#features {
    padding: 10%;
}

.feature-col {
    text-align: center;
    line-height: 2;
}

.feature-col > p {
    color: #8f8f8f;
}

.feature-col > h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-icons {
    color: #ef8172;
    font-size: 3rem;
    padding-bottom: 5%;
}

.feature-icons:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;

}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}

.press-image {
    width: 15%;
    height: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 7% 3%;
}

.pricing-card {
    margin: 3% 4%;
    text-align: center;
}



.pricing-col {

}

.pricing-header {
    padding: 0;
}

.pricing-body {
    line-height: 1.5;
}

.mastiff {
    line-height: 0.62;
}

/* Call to Action */

#cta {
    text-align: center;
    background-color:#ff4c68;
    color: white;
    height: 60vh;
    padding: 7% 15%;
}

/* Footer */

#footer {
    height: 40vh;
    padding: 10% 15%;
    text-align: center;
}

#footer > a {
    margin: 1%;
}

#footer > p {
    margin-top: 3%;

}