/***************** Tag Selector ********************/

body {
    background-color: #233142;
    text-align: center;
}

h1 {
    color: #6385a6;
    font-family: 'Rubik Mono One', Courier, monospace;
    font-weight: 100;
    font-size: 4rem;
    margin: 0;
    z-index: 3;
    width: 60vw;
}

h2 {
    font-family: 'Rubik Mono One', Courier, monospace;
    font-size: 2rem;
    width: 50vw;
    z-index: 3;
    color: #6385a6;
}

h1:hover {
    color: #14212b;
}

p{
    color: white;
    width: 50vw;
}

hr {
    border-style: dotted;
    border-width: 10px 0px  0px 0px;
    width: 15%;
    border-color: lightgray;

}

/********* nav bar ********/
nav {
    margin: 0;
}

nav #logo {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 12px;
    margin-top: 0;

}

nav a {
    color: inherit;  /* remove default anchor color and underline */
    text-decoration: none;
    font-size: 1.2em;
    font-family:'Gloria Hallelujah', Courier, monospace;
    display: block;

}
nav > ul {
    list-style: none; /* remove little list dot */ 
    background-color: #ebcb4b;
    color: #1e2c41;
    margin: 0;
    padding: 10px;


}

.nav-btns {
    display: flex;
    justify-content: flex-end;
    
}

.nav-btns > li {
    margin: 15px;
}


nav a:hover {
    color:#4F9DA6;
}




/***************** Hero Content ********************/

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #ebcb4b;
    background-position: 500px 10px;
    height: 100vh;
}

.hero-content > h2 {
    font-family: 'Rubik Mono One', Courier, monospace;
    font-size: 1rem;
    width: 60vw;
    z-index: 3;
    color: white;
}

.hero-content #hero-image {
    position: absolute;
    z-index: 2;
    width: 28rem;
    right: 25px ;
    top: 181px;
}

.hero-content #background-text {
    color: #1e2c41;
    opacity: 5%;
    text-align: left;
    font-size: 8rem;
    font-family: 'Rubik Dirt', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: -60px;
    height: 80vh;
    width: auto;
    z-index: 1;
}

/************************** Skill Sets / showcase  **************************/

.skill-sets > h1{
    margin: 0 auto;
}

.building-skills {
    width: 50%;
    margin: 100px auto;
}

.building-skills img {
    float: left;
    margin-right: 30px;
}

.cooking-skills {
    width: 50%;
    margin: 100px auto;
}

.cooking-skills img {
    float: right;
    margin-left: 30px;
}

.writing-skills {
    width: 50%;
    margin: 100px auto;
}

.writing-skills img {
    float: left;
    margin-right: 30px;
}


