/***************** Tag Selector ********************/

body {
    background-color: #233142;
    text-align: center;
}

h1 {
    color: #4F9DA6;
    font-family: 'Rubik Mono One', Courier, monospace;
    font-size: 5rem;
    margin: 0;
}

h2 {
    font-family: 'Rubik Mono One', Courier, monospace;
    font-size: 1rem;
}

h1:hover {
    color: #1e2c41;
}

p, h2, h3, nav, a{
    color: white;
}

hr {
    border-style: dotted;
    border-width: 10px 0px  0px 0px;
    width: 15%;
    border-color: lightgray;

}

/********* nav bar ********/
nav {
    margin: 0;
}

nav #logo {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 12px;
    margin-top: 0;

}

nav a {
    color: inherit;  /* remove default anchor color and underline */
    text-decoration: none;
    font-size: 1.2em;
    font-family:'Gloria Hallelujah', Courier, monospace;
    display: block;

}
nav > ul {
    list-style: none; /* remove little list dot */ 
    background-color: #ebcb4b;
    color: #1e2c41;
    margin: 0;
    padding: 10px;


}

.nav-btns {
    display: flex;
    justify-content: flex-end;
    
}

.nav-btns > li {
    margin: 15px;
}


nav a:hover {
    color:#4F9DA6;
}




/***************** Class Selector ********************/




.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    background-color: #ebcb4b;
    background-image: url("resources/img/comic-profile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 500px 10px;
    height: 100vh;
}



.hero-content img {
    width: 50%;
    height: 50%;
}

.hero-content #background-text {
    color: #1e2c41;
    opacity: 5%;
    text-align: left;
    font-size: 8rem;
    font-family: 'Rubik Dirt', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: -10px;
    height: 80vh;
    width: auto;

}


